body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.container2 {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}

.profile input {
    display: block;
    margin: 5px 0;
    padding: 5px;
    width: 80%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(68, 139, 255);
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: rgb(0, 64, 148);
}

.nav-buttons {
    width: 100%;
    text-align: center;
}

.nav-buttons a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #555;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-buttons a:hover {
    background-color: #777;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.statistics {
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 70%;
    height: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.logs {
    position: absolute;
    top: 150px;
    right: 250px;
    width: 45%; 
    height: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#log-list {
    list-style-type: none;
    padding: 0;
}

#log-list li {
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.statistics2 {
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 70%;
    height: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}